* {
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'arial', sans-serif;
    color: #111;
    font-size: 14px;

}

/* Header sectionn */

header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

header ul li button {
    background: #4584ef;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 11px 22px;
    color: #fff;
    cursor: pointer;
    font-weight: 60;
}

header ul li button:hover {
    opacity: 0.9;
    box-shadow: 0 1.5px 0 0 #e4e4e4;
}

.nav {
    float: right;
    position: relative;
    padding-top: 0px;
    padding-right: 8px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
}

.links {
    text-decoration: none;
    margin-left: 1em;
}

.links:hover {
    text-decoration: underline;
}


/* main section */

main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.searchBar {
    margin-left: -40%;
    position: sticky;
    width: 200%;
    border-radius: 50px;
    display: flex;
    height: 40px;
    border: 1px solid lightgrey;
}

#searchBarInput {
    width: 80%;
}

searchBar span {
    vertical-align: top;
}

searchBar span:first-child {
    width: 10%;
    border-radius: 50px;
    margin-top: 7px;
}

searchBar span:last-child {
    width: 8%;
    border-radius: 50px;
    margin-top: 7px;
}

input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px;
}

.searchBarIcons {
    width: 75%;
    height: 75%;
}

.searchButtons {
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    color: #111;
    background-color: #f8f9fa;
    border-radius: 4px;
    font-family: arial, sans-serif;
    margin: 18px 4px;
    height: 36px;
    padding: 11px 22px;
    font-weight: 60;
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
}

#languages {
    line-height: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#languages a {
    color: blue;
}

#logo {
    margin: auto;
    justify-content: center;
    display: flex;
}


/* footer section */

footer {
    background: #f2f2f2;
    font-family: arial, sans-serif;
    line-height: 25px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    font-size: 15px;
    color: #70757a;
}

footer ul li {
    color: #666666;
    font-size: 14px;
    padding: 13px;
}

footer ul li:hover {
    text-decoration: underline;
}

.footer-left {
    display: block;
    float: left;
    display: inline-block;
}

.footer-right {
    display: flex;
    justify-content: right;
}